---
import PbImage from "./PbImage.astro";

const { offre } = Astro.props;
---

<div class="card">
    <h2>{offre.nomMaison}</h2>

    <PbImage record={offre} recordImage={offre.images[0]} />
    <PbImage record={offre} recordImage={offre.images[1]} />
    <PbImage record={offre} recordImage={offre.images[2]} />

    {offre.favori && <span class="favori">★ Favori</span>}
    lol
    <a href={`/offres/${offre.id}`}>Voir plus</a>
</div>

<script>
    //@ts-nocheck
    import { setFavori } from "../../backend.mjs";
    const favoriteButtons = document.querySelectorAll(".favoriteButton");

    favoriteButtons.forEach((button) => {
        button.addEventListener("click", () => {
            const offreData = JSON.parse(button.dataset.offre || "{}");
            const newFavori = !offreData.favori;

            setFavori(offreData);

            const favIcon = button.querySelector(".favorite-icon");
            if (favIcon) {
                favIcon.src = newFavori
                    ? "/favorite_filled.svg"
                    : "/favorite.svg";
            }
            offreData.favori = newFavori;
            button.dataset.offre = JSON.stringify(offreData);
        });
    });
</script>

<button class="favoriteButton absolute bottom-0 left-0 p-2 text-white rounded-br-lg" data-offre={JSON.stringify(offre)}>
    <img id="favorite-icon" src={offre.favori ? "/favorite_filled.svg" : "/favorite.svg"} alt="Favorite Icon" class="w-6 h-6" />
</button>
